POSTGRES_DB=chargerdb
POSTGRES_USER=postgrau
POSTGRES_PASSWORD=postgrau

# para migrations
FLYWAY_URL=jdbc:postgresql://postgres:5432/chargerdb
FLYWAY_USER=postgrau
FLYWAY_PASSWORD=postgrau
FLYWAY_LOCATIONS=filesystem:/shared/migrations
