PORT=8080
DB_URL=jdbc:postgresql://postgres:5432/chargerdb
DB_USER=postgrau
DB_PASSWORD=postgrau
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_USERNAME=balaclava
MAIL_PASSWORD=calablava
MAIL_PORT=587
MAIL_DEBUG=false
MAIL_FROM=bananas
MAIL_SUBJECT_PREFIX=[Testing goods]
CHARGER_PROXY_CHARGE_URL=http://charger-proxy:8082/ws/charge
CHARGER_PROXY_CUSTOMER_URL=http://charger-proxy:8082/ws/customer
